body{
    margin: 0;
    padding: 0;
}
.wrapper{
    border: 1px solid #000;
    height: auto;
    width: 90%;
    margin:  0 auto;
}
.wrapper_chitiet{
    height: auto;
    width: 90%;
    margin:  0 auto;
}
.hinhanh_sanpham{
    float: left;
    width: 30%;
}
.chitiet_sanpham{
    float: left;
    width: 50%;
}
input.themgiohang {
    z-index: 2;
    width: 156px;
    height: 37px;
    background: linear-gradient(to right, #ffb369 0%, #ff4272 100%);
    display: block;
    border-radius: 200px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    line-height: 257%;
    transition: all 0.7s ease, line-height 0s ease, color 0.4s ease, filter 0.2s ease;
    cursor: pointer;
    margin: 10px auto;
}
.header{
    background-image: url("../images/banner2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 200px;
    border: 1px solid #1a1a1a ;
    height: 200px;
    width: 100%;
}
.menu{
    border: 1px solid #ff80ff;
    height:50px;
    width: 100%;
    background: #85e0e0;
}
ul.list_menu {
    padding: 0;
    margin: 0;
    width: 60%;
    border: 1px solid  ;
    list-style: none;
    margin: 0 auto;
    line-height: 27px;
}
ul.list_menu li:hover {
    background: floralwhite;
}
ul.list_menu li a {
    text-decoration: none;
    text-align: center;
    color: #000;
}
ul.list_menu li {
    float: left;
    margin: 7px;
    padding: 5px;
   
}
#main{
    border: 1px solid #00ff80;
    height: auto;
    width: 100%;
}
.siderbar{
    border: 1px solid #006;
    height: 390px;
    width: 20%;
    margin-top: 5px;
    margin-left:  5px;
    float: left;
}
ul.list_siderbar {
    padding: 0;
    margin: 0;
    width: 100%;
    /* border: 1px solid; */
    list-style: none;
    line-height: 27px;
}
ul.list_siderbar li:hover {
    background: floralwhite;
}
ul.list_siderbar li a {
    text-decoration: none;
    text-align: left;
    color: #000;
    display: block;
    font-size: 30px;
}
ul.list_siderbar li {
    margin: 7px;
    padding: 15px;
    
}
.maincontent{
    height: auto;
    width: 79%;
    margin-top: 5px;
    margin-left:  5px;
   float: right;
}
ul.product_list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}

ul.product_list li {
    width: 19%;
    border: 1px dashed #000;
    margin: 5px;
    float: left;
    background: #f2f2f2;
    height: 400px;
}
ul.product_list li a {
    text-decoration: none;
}
ul.product_list li img {
    max-width: 99%;
    object-fit: cover;
    width: 100%;
    height: 200px;

}
p.title_product {
    text-align: center;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}
p.price_product {
    text-align: center;
    color: orangered;
    font-size: 23px;
    font-weight: bold;
}
.footer{
    border: 1px solid #000;
    height: 150px;
    width: 100%;
    background: #00ff80;

}
.clear{
    clear: both;
}
p.footer_copy {
    text-align: center;
    color: #000;
    font-size: 50px;
}

/* Importing Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


      /* body.login {
            margin: 0;
            height: 100vh;
            background-color: #e0e0e0;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #343434;
        } */

        .neumorphic-card {
            background-color: #e0e0e0;
            width: 400px;
            height: auto;
            margin: 1rem;
            padding: 2rem;
            border-radius: 10px;
            box-shadow:
                10px 10px 22px rgba(0, 0, 0, 0.2),
                -10px -10px 22px rgba(255, 255, 255, 0.75);
        }

        .neumorphic-card__header {
            font-size: 1.8rem;
            text-transform: uppercase;
            font-weight: 500;
            text-align: center;
        }

        .neumorphic-form {
            margin: 2rem 0;
        }

        .neumorphic-input-wrapper {
            width: 100%;
            margin-bottom: 0.5rem;
            display: flex;
            flex-direction: column;
        }

        .neumorphic-input-wrapper label {
            font-size: 0.9rem;
            font-weight: 400;
            margin-left: 0.8rem;
        }

        .neumorphic-input-wrapper input {
            border: none;
            outline: none;
            background: none;
            background-color: #e0e0e0;
            padding: 0.8rem 1.1rem;
            border-radius: 20px;
            margin: 0.5rem 0 1rem 0;
            font-size: 1.2rem;
            color: #0dafeb;;
            box-shadow:
                inset 5px 5px 11px rgba(0, 0, 0, 0.2),
                inset -5px -5px 11px rgba(255, 255, 255, 0.75);
        }

        .neumorphic-form button {
            border: none;
            outline: none;
            background: none;
            width: 100%;
            margin: 0.6rem 0 1rem 0;
            cursor: pointer;
            font-size: 1.2rem;
            color: #0dafeb;
            text-transform: capitalize;
            padding: 0.9rem;
            border-radius: 20px;
            background-color: #e0e0e0;
            box-shadow:
                10px 10px 22px rgba(0, 0, 0, 0.2),
                -10px -10px 22px rgba(255, 255, 255, 0.75);
        }

        .neumorphic-form button:active {
            box-shadow:
                inset 5px 5px 11px rgba(0, 0, 0, 0.2),
                inset -5px -5px 11px rgba(255, 255, 255, 0.75);
        }

        .neumorphic-card__footer p {
            text-align: center;
            font-size: 0.9rem;
            margin: 0;
        }

        .neumorphic-card__footer a {
            text-decoration: none;
            color: rgb(216, 30, 30);
        }

        .neumorphic-card__footer a:hover {
            text-decoration: underline;
        }